<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/home']">&lt; Back</ion-button>
    <ion-title>View Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ note?.title }}
      </ion-card-title>
      <div class="note-date">{{note?.date}}</div>
      <hr />
      <div>{{note.content}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button color="danger" (click)="deleteNote(note.createDate)"> Delete Note</ion-button>
</ion-footer>